@model CDSS.Models.Appointments

@{
    ViewData["Title"] = "Edit Appointment";
}

<h1>Edit Appointment</h1>

<h4>Appointments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppointmentId" />
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentDate" class="form-control" />
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurposeOfVisit" class="control-label"></label>
                <input asp-for="PurposeOfVisit" class="form-control" />
                <span asp-validation-for="PurposeOfVisit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalNotes" class="control-label"></label>
                <input asp-for="AdditionalNotes" class="form-control" />
                <span asp-validation-for="AdditionalNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
