@model CDSS.Models.Review

@{
    ViewData["Title"] = "New Review";
}

<h1>New Review</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppointmentId" class="control-label"></label>
                <select asp-for="AppointmentId" class="form-control" asp-items="ViewBag.AppointmentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReviewDateTime" class="control-label"></label>
                <input asp-for="ReviewDateTime" class="form-control" />
                <span asp-validation-for="ReviewDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewText" class="control-label"></label>
                <textarea asp-for="ReviewText" class="form-control" rows="5"></textarea>
                <span asp-validation-for="ReviewText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
