@model CDSS.Models.PatientMedication

@{
  ViewData["Title"] = "New Medication";
}

<h1>New Medication</h1>

<h4>PatientMedication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <select asp-for="FullName" class="form-control" asp-items="ViewBag.FullName"></select>
            </div> *@
            <div class="form-group">
                <label asp-for="MedicationId" class="control-label">Medication Name</label>
                <select asp-for="MedicationId" class="form-control" asp-items="ViewBag.MedicationName"></select>
                <span asp-validation-for="MedicationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dosage" class="control-label"></label>
                <input asp-for="Dosage" class="form-control" />
                <span asp-validation-for="Dosage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frequency" class="control-label"></label>
                <input asp-for="Frequency" class="form-control" />
                   @*  <option value="once daily">once daily</option>
                    <option value="twice daily">twice daily</option>
                    <option value="three times daily">three times daily</option>
                    <option value="Lung Cancer">Lung Cancer</option>
                    <option value="every four hours">every four hours</option>
                    <option value="every eight hours">every eight hours</option>
                    <option value="before meal">before meal</option>
                    <option value="after meal">after meal</option> *@
                <span asp-validation-for="Frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartMedication" class="control-label"></label>
                <input asp-for="StartMedication" class="form-control" />
                <span asp-validation-for="StartMedication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndMedication" class="control-label"></label>
                <input asp-for="EndMedication" class="form-control" />
                <span asp-validation-for="EndMedication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Patients" asp-action="Details">Back to List</a>
</div>

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
