@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Clinical Decision Support System</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to CDSS</h2>
        <p>
            The Elderly Care CDSS is a web-based application 
            designed to improve the quality of care provided 
            to elderly patients in nursing homes and hospices in Singapore.
        </p>
    </div>
</div>